@model Silkways.Models.HomePageImage
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" enctype="multipart/form-data" id="FormUser">
    <input type="file" id="File1" name="file" />
    <br />
    <br />
    <br />
    <input type="submit" id="btnSave" class=" btn btn-dark" value="Update Image" />
 </form>
